
body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
}
/* header {
  background: url('../img/logo_groot.png') no-repeat  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
} */

header{
  background-image: url(../img/x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
 /* width:100%;
height:100%;
height:calc(100%);
background-image:url('../img/logo_groot-smal.png');
background-size:cover;
color: black; */
}

h1,h2,h3 {
  padding: 16px;
  background-color:  rgb(0, 159, 227);}
 hr {
  clear: both;
  height: 5px;
 }
 .doen { 
  background-color: #eee;
  text-align: center;

}
.zijkant { 
  height: auto;
  background-color: #ddd;
  color:black;

}
  /* .logos {
  width: 100%;
  height: auto;
  text-align: left;
  color: #eee;
  background-image: url(../img/x.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  
  padding-top: 5px;
} */
footer {
  background-image: url(../img/logo_groot.png);
  background-position: center center;
  background-repeat: no-repeat;
  
  background-size: cover;
  background-color: #464646;

}